apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "border0-connector.fullname" . }}
  labels:
    {{- include "border0-connector.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      {{- include "border0-connector.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "border0-connector.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "border0-connector.generatedServiceAccountName" . }}
      containers:
        - name: border0-connector
{{- if .Values.image.override }}
          image: "{{ .Values.image.override }}"
{{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
{{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "connector"
            - "start"
{{- if .Values.config.inviteCode }}
            - "--invite={{ .Values.config.inviteCode }}"
            - "--token-persistence-mode=k8s-secret"
            - "--k8s-secret={{ include "border0-connector.generatedSecretName" . }}"
{{- else }}
            - "--config=/etc/border0-connector/config.yaml"
{{- end }}
          volumeMounts:
{{- if .Values.config.token }}
            - name: config
              mountPath: /etc/border0-connector
{{- end }}
            - name: dev-net-tun
              mountPath: /dev/net/tun
          securityContext:
            privileged: true
            capabilities:
              add: [ "NET_ADMIN", "NET_RAW" ]
      volumes:
        - name: config
          secret:
            secretName: {{ include "border0-connector.generatedSecretName" . }}
{{- if .Values.config.inviteCode }}
            optional: true
{{- end }}
        - name: dev-net-tun
          hostPath:
            path: /dev/net/tun
