apiVersion: apps/v1
kind: Deployment
metadata:
  name: border0-connector
  labels:
    app: border0-connector
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: border0-connector
  template:
    metadata:
      labels:
        app: border0-connector
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
        - name: border0-connector
{{- if .Values.image.override }}
          image: "{{ .Values.image.override }}"
{{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
{{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "connector"
            - "start"
{{- if .Values.config.inviteCode }}
            - "--invite={{ .Values.config.inviteCode }}"
            - "--token-persistence-mode=k8s-secret"
            - "--k8s-secret={{ .Values.config.secretName }}"
{{- else }}
            - "--config=/etc/border0-connector/config.yaml"
{{- end }}
          volumeMounts:
{{- if .Values.config.token }}
            - name: config
              mountPath: /etc/border0-connector
{{- end }}
            - name: dev-net-tun
              mountPath: /dev/net/tun
          securityContext:
            privileged: true
            capabilities:
              add: [ "NET_ADMIN", "NET_RAW" ]
      volumes:
        - name: config
          secret:
            secretName: {{ .Values.config.secretName }}
{{- if .Values.config.inviteCode }}
            optional: true
{{- end }}
        - name: dev-net-tun
          hostPath:
            path: /dev/net/tun
