{{- if not .Values.config.inviteCode }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "border0-connector.generatedSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "border0-connector.labels" . | nindent 4 }}
type: Opaque
stringData:
  config.yaml: |
    token: {{ .Values.config.token | quote }}
    device_state_path: /etc/border0-device/state.yaml
{{- end }}

