{{- if not .Values.config.inviteCode }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.config.secretName }}
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  config.yaml: |
    token: {{ .Values.config.token | quote }}
    device_state_path: /etc/border0-device/state.yaml
{{- end }}

